@page "/"
@inject ILanguageContainerService langContainer;


<Title Value="Home - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Home" />
<Meta property="og:type" content="website" />
<Meta property="og:url" content="unturnedstore.com" />
<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />
<Meta name="theme-color" content="#FFCC00" />

<div class="text-center mb-3">
    <img src="/img/header.png" style="max-height: 150px;" />
    <h4 class="fw-bold unturned-font mt-2">@langContainer.Keys["StoreName"]</h4>
    <h6 class="text-muted">@langContainer.Keys["StoreTagline"]</h6>
</div>

@if (!hideImperial)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h5>ImperialPlugins.com customers!</h5>
        <p>If you ever purchased any plugins from Restore Monarchy on ImperialPlugins.com before March 19th 2021, you can have them on this website too.</p>
        <ol>
            <li><a href="/signin">Sign in with Steam</a></li>
            <li>Send a message to  <a href="/messages/create/1">MCrow</a></li>
            <li>In title write <strong>ImperialPlugins</strong></li>
            <li>In content write your <strong>PayPal address</strong> (the one you paid me with on ImperialPlugins.com)</li>
            <li>Wait for me to give you access to your plugins</li>
        </ol>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="CheckImperial"></button>
    </div>
}


@if (Products != null)
{
    <div class="mb-3 mt-5 d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px;">
            <span class="input-group-text">@langContainer.Keys["Search:SearchProduct"]</span>
            <input type="text" class="form-control" placeholder="@langContainer.Keys["Search:NameOrAuthor"]" @bind="searchString" @bind:event="oninput"/>
        </div>
        <div class="ms-1">
            <select class="form-select" @bind="orderBy">
                    <option value="@EOrderBy.Newest">@langContainer.Keys["Search:Newest"]</option>
                    <option value="@EOrderBy.MostDownloads">@langContainer.Keys["Search:MostDownloads"]</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
            @foreach (var product in OrderedProducts)
            {
                <div class="m-2 col bg-light rounded border-2 border" style="width: 350px; height: 150px;">
                    <div class="d-flex align-items-center text-center" style="margin-top: -20px;">
                        <a href="/products/@product.Id">
                            <img src="api/images/@product.ImageId" width="85" height="85" />
                        </a>
                        <div class="ms-1 text-center w-100">
                            <a class="ms-2 text-center w-100" href="/products/@product.Id">@product.Name</a> <br />
                            <small class="text-muted">@langContainer.Keys["Author"]: @product.Seller.Name</small>
                        </div>

                    </div>
                    <div>
                        <div class="mt-auto" style="height: 50px;">
                            <small style="vertical-align: middle;">@product.Description</small>
                        </div>

                        <div class="d-flex mt-auto">
                            <div>
                                <small class="text-muted"><i class="bi bi-download"></i> @product.TotalDownloadsCount</small>
                            </div>
                            @if (product.Price > 0)
                            {
                                <p class="ms-auto text-muted">@langContainer.Keys["Price"]: $@product.Price</p>
                            }
                            else
                            {
                                <p class="ms-auto text-muted">@langContainer.Keys["Price"]: @langContainer.Keys["Free"]</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}
else
{
    <Progressbar />
}

@code {
    protected override void OnInitialized()
    {
        langContainer.InitLocalizedComponent(this);
        base.OnInitialized();
    }
}


