@page "/"


<Title Value="Home - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Home" />


<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />


<div class="text-center mb-3">
    <img src="/img/header.png" style="max-height: 250px;" />
    <div style="margin-top: -30px;">
        <h4 class="fw-bold unturned-font">Unturned Store</h4>
        <h6 class="text-muted">Marketplace of products for Unturned</h6>
    </div>
    
</div>

@if (Products != null)
{
    <div class="mb-3 mt-5 d-flex align-items-center justify-content-center">
        <div class="input-group" style="max-width: 600px;">
            <span class="input-group-text">Search Product</span>
            <input type="text" class="form-control" placeholder="Name or Author" @bind="searchString" @bind:event="oninput" />
        </div>
        <div class="ms-1">
            <select class="form-select" @bind="orderBy">
                <option value="@EOrderBy.Newest">Newest</option>
                <option value="@EOrderBy.MostDownloads">Most Downloads</option>
                <option value="@EOrderBy.BestRated">Best Rated</option>
                <option value="@EOrderBy.PriceAsc">Price Ascending</option>
                <option value="@EOrderBy.PriceDesc">Price Descending</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
            @foreach (var product in OrderedProducts)
            {
                <div class="col bg-light rounded border-2 border" style="width: 350px; height: 150px; margin: 10px 10px 10px 10px;">
                    <div class="d-flex align-items-center text-center" style="margin-top: -20px;">
                        <a href="/products/@product.Id">
                            <img src="api/images/@product.ImageId" width="85" height="85" class="rounded" />
                        </a>
                        <div class="ms-1 text-center w-100" style="margin-bottom: -20px;">
                            <div>
                                <a class="ms-2 text-center w-100 text-decoration-none" href="/products/@product.Id">@product.Name</a>
                            </div>
                            <div>
                                <small class="text-muted">Author: @product.Seller.Name</small> <br />
                            </div>
                            <div style="margin-top: -5px;">
                                @for (byte i = 1; i <= product.AverageRating; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                                @for (byte i = product.AverageRating; i < 5; i++)
                                {
                                    <i class="bi bi-star"></i>
                                }
                                <span class="text-muted ms-1" style="font-size: 12px;">(@product.RatingsCount)</span>
                            </div>
                            
                            
                        </div>

                    </div>
                    <div>
                        <div class="mt-auto" style="height: 50px;">
                            <small style="vertical-align: middle;">@product.GetDescription()</small>
                        </div>

                        <div class="d-flex align-items-center mt-auto">
                            <div>
                                <small class="text-muted"><i class="bi bi-download"></i> @product.TotalDownloadsCount</small>
                            </div>
                            <div class="ms-auto text-muted">
                                @if (product.Price > 0)
                                {
                                    <span>Price: $@product.Price</span>
                                }
                                else
                                {
                                    <span>Price: Free</span>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}
else
{
    <Progressbar />
}


