@page "/admin/users"
@inject ILanguageContainerService langContainer;

<Title Value="@($"Users Admin - Unturned Store")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@langContainer.Keys["Admin:UsersPage:Users"]</li>
    </ol>
</nav>

<div class="mb-3 d-flex align-items-center">
    <div>
        <h5>@langContainer.Keys["Admin:UsersPage:AllUsers"]</h5>
    </div>
    <div class="ms-auto">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">@langContainer.Keys["Admin:UsersPage:Search"]</span>
            <input type="text" class="form-control" @bind="searchString" @bind:event="oninput" placeholder="@langContainer.Keys["Admin:UsersPage:NameOrSteamID"]">
        </div>

    </div>
</div>

@if (Users != null)
{
    <div class="mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@langContainer.Keys["Admin:UsersPage:Table:Name"]</th>
                    <th>@langContainer.Keys["Admin:UsersPage:Table:SteamID"]</th>
                    <th>@langContainer.Keys["Admin:UsersPage:Table:Role"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="orderedUsers" Context="user">
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.SteamId</td>
                        <td>
                            <select class="form-select" @bind="user.Role">
                                <option value="@RoleConstants.DefaultRoleId">@RoleConstants.DefaultRoleId</option>
                                <option value="@RoleConstants.SellerRoleId">@RoleConstants.SellerRoleId</option>
                                <option value="@RoleConstants.AdminRoleId">@RoleConstants.AdminRoleId</option>
                            </select>
                        </td>
                        <td>
                            @if (loadingUsers.Contains(user))
                            {
                                <LoadingButton />
                            } else
                            {
                                <button class="btn btn-primary" @onclick="() => UpdateUserRoleAsync(user)">
                                    @langContainer.Keys["Admin:UsersPage:Table:Update"]
                                </button>
                            }
                            
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        langContainer.InitLocalizedComponent(this);
        base.OnInitialized();
    }
}
