<div class="p-3 d-flex align-items-center border border-2 my-2">
    <div>
        <a href="/products/@Product.Id">
            <img src="/api/images/@Product.ImageId" style="max-width: 90px;" />
        </a>        
    </div>
    <div class="ms-3 h-100">
        <div>
            <a class="text-decoration-none fs-5" href="/products/@Product.Id">@Product.Name</a> 
            <div class="d-md-inline d-block">
                by <a class="text-decoration-none fw-bold text-muted" href="/users/@Product.SellerId">@Product.Seller.Name</a>
                @if (Product.Seller.IsVerifiedSeller)
                {
                    <i class="bi bi-patch-check-fill text-success ms-1" title="Verified Seller"></i>
                }
            </div>            
        </div>
        <div class="d-flex align-items-end">
            <div>
                <ProductRating Product="Product" />
            </div>
            
            @if (Product.Category == "Rocket Plugin")
            {
                <div class="small ms-1 text-muted" title="Rocket Plugin">
                    <i class="fas fa-rocket"></i>
                </div>
            }
            @if (Product.Category == "OpenMod Plugin")
            {
                <div class="small ms-1 text-muted" title="OpenMod Plugin">
                    <i class="fas fa-plug"></i>
                </div>
            }
            @if (Product.IsLoaderEnabled)
            {
                <div class="small ms-2 text-black-50" title="Loader Required">
                    <i class="fas fa-cloud-download-alt"></i>
                </div>
            }
        </div>
        <div class="d-none d-md-block" style="font-size: 14px;">
            @Product.GetDescription()
        </div>
    </div>
    <div class="ms-auto text-end">
        <div class="text-nowrap">
            <div class="">
                <span class="fs-5">@Product.GetPrice()</span>
            </div>
            <div class="d-md-block d-none text-muted small">
                @if (Product.IsLoaderEnabled)
                {
                    <span><i class="fas fa-server"></i> @Product.ServersCount</span>
                } else
                {
                    <span><i class="fas fa-download"></i> @Product.TotalDownloadsCount</span>
                }

            </div>
        </div>
    </div>

</div>