@page "/admin/products"
@using Website.Components.DataTable

<Title Value="@($"Manage Products - Unturned Store")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>

@if (Products != null && Products.Any(x => x.Status == ProductStatus.WaitingForApproval))
{
    <div class="mb-3 p-3 bg-light rounded border border-1">
        There are @Products.Count(x => x.Status == ProductStatus.WaitingForApproval) products waiting for approval: 
        <ul class="mb-0">
            @foreach (var product in Products.Where(x => x.Status == ProductStatus.WaitingForApproval).OrderBy(x => x.StatusUpdateDate))
            {
                <li>
                    <a href="/seller/products/@product.Id" target="_blank" class="text-black text-decoration-none fw-bold">@product.Name</a>
                    <span class="ms-1 text-muted">@product.StatusUpdateDate.ToShortDateString()</span>
                </li>
            }
        </ul>        
    </div>
}

<DataTable TItem="MProduct" Data="Products">
    <DataTableTitle TItem="MProduct">
        <div class="d-flex align-items-center">
            <div class="fs-5">
                Products (@context.Items.Count())
            </div>
        </div>        
    </DataTableTitle>
    <DataTableColumn TItem="MProduct" Name="ID" Field="x => x.Id" IsSearchable="true" SearchType="ESearchType.Exact" />
    <DataTableColumn TItem="MProduct" Name="Name" Field="x => x.Name" IsSearchable="true" SearchType="ESearchType.Contains" Context="product">
        <div class="d-flex align-items-center">
            <div>
                <img src="/api/images/@product.ImageId" width="30" height="30" />
            </div>
            <div class="ms-2">
                @if (product.IsEnabled)
                {
                    <a href="/seller/products/@product.Id" class="text-decoration-none">
                        @product.Name
                    </a>
                } else
                {
                    <a href="/seller/products/@product.Id" class="text-decoration-none text-muted">
                        @product.Name
                    </a>
                }

            </div>
        </div>
    </DataTableColumn>
    <DataTableColumn TItem="MProduct" Name="Seller" Field="x => x.Seller.Name" Context="product" IsSearchable="true">
        <div class="d-flex align-items-center">
            <div>
                <img class="rounded-circle" src="/api/images/@product.Seller.AvatarImageId" width="30" height="30" />
            </div>
            <div class="ms-2">
                <a href="/users/@product.Seller.Id" target="_blank" class="text-decoration-none">
                    @product.Seller.Name
                </a>
            </div>
        </div>
    </DataTableColumn>
    <DataTableColumn TItem="MProduct" Name="Price" Field="x => x.Price" Context="product" IsSearchable="false">
        @if (product.Price == 0)
        {
            <span>Free</span>
        } else
        {
            <span>@product.Price</span>
        }
    </DataTableColumn>
    <DataTableColumn TItem="MProduct" Name="Status" Field="x => x.Status" Context="product" IsSearchable="true" SearchType="ESearchType.Exact">
        <ProductStatusText Status="product.Status" />
    </DataTableColumn>
    <DataTableColumn TItem="MProduct" Name="Public" Field="x => x.IsEnabled" Context="product" IsSearchable="false">
        @if (product.IsEnabled)
        {
            <span>Enabled</span>
        } else
        {
            <span class="text-muted">Disabled</span>
        }
    </DataTableColumn>
    <DataTableColumn TItem="MProduct" Name="" Context="product" Field="x => string.Empty" IsSearchable="false">
        <div class="d-flex">
            <div>
                <a class="btn btn-outline-success btn-sm" href="/seller/products/@product.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
            <div class="ms-2">
                <a class="btn btn-outline-primary btn-sm" href="/products/@product.Id" target="_blank">
                    <i class="fas fa-eye"></i>
                </a>
            </div>                    
        </div>                
    </DataTableColumn>
</DataTable>
