@page "/seller/products/{ProductId:int}" 
@using Website.Client.Pages.Seller.ProductPage.Components

<Title Value="@($"Product #{ProductId} Seller - Unturned Store")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Seller</li>
        <li class="breadcrumb-item"><a href="/seller/products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            @if (Product != null)
            {
                <span>@Product.Name</span>
            } else
            {
                <span>@ProductId</span>
            }
            
        </li>
    </ol>
</nav>

@if (Product != null)
{
    <div class="mt-2 mb-3">
        <div class="d-md-flex align-items-center border p-3 rounded border-1 shadow">
            <div>
                <div class="d-flex align-items-center mb-1">
                    <div>
                        <img src="api/images/@Product.ImageId" width="36" height="36" class="rounded" />
                    </div>
                    <div class="ms-2 fs-4">
                        @Product.Name
                    </div>
                </div>
                <div class="dropdown-divider" style="min-width: 300px;"></div>
                <ul class="list-unstyled">
                    <li>Current Status: <span class="fw-bold">@Product.Status</span></li>
                    <li class="text-muted">ID: <span class="fw-bold">@Product.Id</span></li>
                </ul>
            </div>
            <div class="ms-auto">
                <div class="d-grid gap-2 d-md-block">
                    <a href="/products/@Product.Id" class="btn btn-primary" target="_blank">View product page</a>
                    
                    @if (Product.Status == ProductStatus.New && Product.Price > 0)
                    {
                        <button class="btn btn-success ms-md-2">Submit for approval</button>
                    }
                </div>                
            </div>
        </div>
        
    </div>

    <div class="mb-3">
        <ul class="nav nav-tabs small" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="basicinfo-tab" data-bs-toggle="tab" href="#basicinfo" role="tab">
                    <i class="bi bi-info"></i> Basic Information
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tabs-tab" data-bs-toggle="tab" href="#tabs" role="tab">
                    <i class="bi bi-card-list"></i> Tabs
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="medias-tab" data-bs-toggle="tab" href="#media" role="tab">
                    <i class="bi bi-images"></i> Media
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="branches-tab" data-bs-toggle="tab" href="#branches" role="tab">
                    <i class="bi bi-gear-fill"></i> Branches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="uploadversion-tab" href="/seller/products/@ProductId/uploadversion" role="tab">
                    <i class="bi bi-cloud-upload-fill"></i> Upload Version
                </a>
            </li>
        </ul>
        <div class="tab-content bg-light p-3">
                <div class="tab-pane fade show active" id="basicinfo" role="tabpanel">
                    <BasicInfoTab @bind-Product="Product" />
                </div>
                <div class="tab-pane fade" id="tabs" role="tabpanel">
                    <TabsTab Product="Product" />
                </div>
                <div class="tab-pane fade" id="media" role="tabpanel">
                    <MediaTab Product="Product" />
                </div>
                <div class="tab-pane fade" id="branches" role="tabpanel">
                    <BranchesTab Product="Product" />
                </div>
        </div>
    </div>
} else
{
    if (statusCode == System.Net.HttpStatusCode.BadRequest)
    {
        <h4>You don't have access to this product</h4>
    } else if (statusCode == System.Net.HttpStatusCode.NoContent)
    {
        <h4>Product not found</h4>
    } else
    {
        <Progressbar />
    }        
}