@page "/seller/products/{ProductId:int}" 
@using Website.Client.Pages.Seller.ProductPage.Components
@using Website.Components.Navs

<Title Value="@($"Product #{ProductId} Seller - Unturned Store")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Seller</li>
        <li class="breadcrumb-item"><a href="/seller/products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            @if (Product != null)
            {
                <span>@Product.Name</span>
            } else
            {
                <span>@ProductId</span>
            }
            
        </li>
    </ol>
</nav>

@if (Product != null)
{
    <div class="mt-2 mb-3">
        <div class="d-md-flex align-items-center border p-3 rounded border-1 shadow">
            <div>
                <div class="d-flex align-items-center mb-1">
                    <div>
                        <img src="api/images/@Product.ImageId" width="36" height="36" class="rounded" />
                    </div>
                    <div class="ms-2 fs-4">
                        @Product.Name
                    </div>
                </div>
                <div class="dropdown-divider" style="min-width: 300px;"></div>
                <ul class="list-unstyled">
                    <li>Current Status: <span class="fw-bold">@Product.Status</span></li>
                    <li class="text-muted">ID: <span class="fw-bold">@Product.Id</span></li>
                </ul>
            </div>
            <div class="ms-auto">
                <div class="d-grid gap-2 d-md-block">
                    <a href="/products/@Product.Id" class="btn btn-primary" target="_blank">View product page</a>
                    @if ((Product.Status == ProductStatus.New && Product.Price > 0) || Product.Status == ProductStatus.Rejected)
                    {
                        <button class="btn btn-success ms-md-2">Submit for approval</button>
                    } 
                    @if ((Product.Status == ProductStatus.New && Product.Price == 0) || Product.Status == ProductStatus.Approved)
                    {
                        <button class="btn btn-success ms-md-2 fw-bold">Release</button>
                    }
                    @if (Product.Status == ProductStatus.WaitingForApproval)
                    {
                        <button class="btn btn-outline-warning ms-md-2 fw-bold" disabled>Waiting for approval</button>
                    }   
                </div>                
            </div>
        </div>
        
    </div>

    <div class="mb-3">
        
        <div class="small">
            <NavList Type="NavType.Tabs">
                <NavItem Name="Basic Information" Icon="fas fa-info" >
                    <BasicInfoTab @bind-Product="Product" />
                </NavItem>
                <NavItem Name="Tabs" Icon="fas fa-list">
                    <TabsTab Product="Product" />
                </NavItem>
                <NavItem Name="Media" Icon="far fa-images">
                    <MediaTab Product="Product" />
                </NavItem>
                <NavItem Name="Branches" Icon="fas fa-code-branch">
                    <BranchesTab Product="Product" />
                </NavItem>
                <NavItem Name="Upload Version" Icon="fas fa-upload" URL="@($"/seller/products/{ProductId}/uploadversion")" />
            </NavList>
               
        </div>
    </div>
} else
{
    if (statusCode == System.Net.HttpStatusCode.BadRequest)
    {
        <h4>You don't have access to this product</h4>
    } else if (statusCode == System.Net.HttpStatusCode.NoContent)
    {
        <h4>Product not found</h4>
    } else
    {
        <Progressbar />
    }        
}