   
<EditForm Model="Product" OnValidSubmit="SubmitAsync">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="Product.Name" />
        <div class="form-text">The name should be short, up to 20 characters</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <InputText class="form-control" @bind-Value="Product.Description" />
        <div class="form-text">This is a short description of your product, for detailed information use tabs</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <InputSelect class="form-control" @bind-Value="Product.Category">
            @foreach (string category in ProductConstants.Categories)
            {
                <option value="@category">@category</option>
            }
        </InputSelect>
        <div class="form-text">Set the category of your product</div>
    </div>

    <div class="mb-3">
        <label class="form-label">GitHub Repo URL</label>
        <InputText class="form-control" @bind-Value="Product.GithubUrl" />
        <div class="form-text">Enables a GitHub link on product page</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" class="form-control" @bind="Product.Price" @bind:event="oninput" />
        <div class="form-text">Price of your product in USD ($)</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Image</label>
        <InputFile class="form-control" OnChange="@OnInputFileChange" />
        <div class="form-text">Image for your product, has to be .png</div>
    </div>

    @if (Product.ImageId != 0)
    {
        <img class="mb-3" src="api/images/@Product.ImageId" width="250" height="250" />
    }

    <div class="mb-3 form-check form-switch">
        <InputCheckbox @bind-Value="Product.IsLoaderEnabled" class="form-check-input" id="check-enableloader" disabled />
        <label class="form-check-label" for="check-enableloader">                             
            Use Loader
        </label>
        <div class="form-text">Determines whether your plugin uses UnturnedStore loader. You can't change it.</div>
    </div>

    @if (Product.Status == ProductStatus.Released)
    {
        <div class="mb-3 form-check form-switch">                        
            <label class="form-check-label">
                <InputCheckbox @bind-Value="Product.IsEnabled" class="form-check-input" />
                @(Product.IsEnabled ? "Enabled" : "Disabled")
            </label>
            <div class="form-text">When your product is disabled it cannot be purchased and can only be downloaded by existing customers.</div>
        </div>
    }

    <div class="mb-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
    </div>

    @if (Product.Price == 0 && Product.IsLoaderEnabled)
    {
        <div class="mb-3">
            <div class="text-danger">Products that are using the loader can't be free!</div>
        </div>
    }

    @if (isLoading)
    {
        <LoadingButton />
    }
    else
    {
        <button type="submit" class="btn btn-primary" disabled="@IsDisabled">Update</button>
    }
</EditForm>