@page "/seller/products/{ProductId:int}/uploadversion"
@using Website.Client.Pages.Seller.UploadVersionPage.Components

<Title Value="@($"Upload Version Seller - Unturned Store")"></Title>

@if (Product != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Seller</li>
            <li class="breadcrumb-item"><a href="/seller/products">Products</a></li>
            <li class="breadcrumb-item"><a href="/seller/products/@ProductId">@Product.Name</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload Version</li>
        </ol>
    </nav>

    @if (Model != null)
    {
        <div class="mb-3 bg-light p-3">
            <EditForm Model="Model" OnValidSubmit="SubmitAsync">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <InputText class="form-control" @bind-Value="Model.Name" placeholder="1.0.0" />
                    <div class="form-text">Keep this short and in a certain style, preferred: Major.Minor.Patch</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Branch</label>
                    <InputSelect class="form-select" @bind-Value="Model.BranchId">
                        @foreach (var branch in Product.Branches)
                        {
                            <option value="@branch.Id">@branch.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="mb-4">
                    <label class="form-label">Changelog</label>
                    <InputTextArea class="form-control" @bind-Value="Model.Changelog" />
                </div>

                <div class="mb-2">
                    <label class="form-label">Upload Template</label>
                    <select class="form-select" @bind="selectedTemplate">
                        <option value="default">ZIP File</option>
                        <option value="rocketplugin">Rocket Plugin</option>
                    </select>
                </div>

                <div class="p-3 mb-4 border-2 border">
                    @if (selectedTemplate == "rocketplugin")
                    {
                        <PluginUploadTemplate Model="Model" OnZipArchive="DefaultSelectedTemplate" />
                    }
                    else
                    {
                        <ZipUploadTemplate Model="Model" />
                    }
                    @if (msg != null)
                    {
                        <span class="text-danger">@msg</span>
                    }
                </div>


                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="mb-3">
                    @if (isLoading)
                    {
                        <LoadingButton />
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">Upload</button>
                    }
                </div>

            </EditForm>
        </div>

    }
}