@page "/seller/customers"
@using Website.Client.Pages.Seller.Components

<Title Value="@($"Customers Seller - Restore Monarchy Plugins")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Customers</li>
    </ol>
</nav>

@if (Customers != null)
{
    <div class="mt-2 p-3 bg-light">
        <div class="mb-2 d-flex">
            <div>
                <h6>All Customers</h6>
            </div>
            <div class="ms-auto">
                <button class="btn btn-sm btn-primary" @onclick="ShowModalAsync">Add Customer</button>
            </div>            
        </div>
        <table class="table table-striped mb-3">
            <caption>@Customers.Count Total Customers</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Create Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="OrderedCustomers" Context="customer">
                    <tr>
                        <td class="align-middle text-center"><i class="bi bi-person-fill"></i></td>
                        <td class="align-middle">@customer.User.Name</td>
                        <td class="align-middle">
                            <div class="d-flex align-items-center">
                                <div>
                                    <img src="api/images/@customer.Product.ImageId" width="30" height="30" />
                                </div>
                                <div class="ms-2">
                                    <a href="/seller/products/@customer.ProductId">@customer.Product.Name</a>
                                </div>
                            </div>

                        </td>
                        <td class="align-middle">@customer.CreateDate</td>
                        <td class="align-middle">
                            <button class="btn btn-outline-danger" @onclick="() => DeleteCustomerAsync(customer)"><i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>

    </div>

    <AddCustomerModal Customers="Customers" @ref="Modal" OnCustomerAdded="AddCustomer" />
}


