@page "/seller/statistics"
@using BlazorTable;
@inject ILanguageContainerService langContainer;

<Title Value="@($"Statistics Seller - Unturned Store")"></Title>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@langContainer.Keys["Sellers:StatisticsPage:Statistics"]</li>
    </ol>
</nav>

@if (Orders != null)
{
    <div class="mb-3 row">
        <div class="col-md-4 mb-2">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5 class="card-title">$@Orders.Where(x => x.CreateDate > DateTime.UtcNow.AddDays(-1)).Sum(x => x.TotalPrice)</h5>
                    <p class="card-text text-muted">@langContainer.Keys["Sellers:StatisticsPage:TodaysRevenue"]</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5 class="card-title">$@Orders.Where(x => x.CreateDate > DateTime.UtcNow.AddDays(-31)).Sum(x => x.TotalPrice)</h5>
                    <p class="card-text text-muted">@langContainer.Keys["Sellers:StatisticsPage:Last30DaysRevenue"]</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card shadow text-center">
                <div class="card-body">
                    <h5 class="card-title">$@Orders.Sum(x => x.TotalPrice)</h5>
                    <p class="card-text text-muted">@langContainer.Keys["Sellers:StatisticsPage:AllTimeRevenue"]</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <Table TableItem="OrderItemModel" Items="OrderItems" PageSize="10" ColumnReorder="true" ShowSearchBar="true" >
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Sellers:StatisticsPage:Search:Id"]" Field="@(x => x.OrderId)" Sortable="true" Width="5%" DefaultSortColumn="true" />
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Product"]" Field="@(x => x.ProductId)" Sortable="true" Width="20%">
                <Template>
                    <a href="/products/@context.ProductId">
                        <img src="/api/images/@context.Product.ImageId" width="30" height="30" /> @context.Product.Name
                    </a>
                </Template>
            </Column>
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Sellers:StatisticsPage:Search:User"]" Field="@(x => x.Order.Buyer.Name)" Sortable="true" Width="20%" />
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Sellers:StatisticsPage:Search:PaymentMethod"]" Field="@(x => x.Order.PaymentMethod)" Sortable="true" Width="15%" />
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Sellers:StatisticsPage:Search:Email"]" Field="@(x => x.Order.PaymentPayer)" Sortable="true" Width="33%" />
            <Column TableItem="OrderItemModel" Title="@langContainer.Keys["Price"]" Field="@(x => x.Price)" Sortable="true" Width="7%" />

            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>
    </div>
} else
{
    <Progressbar />
}

@code {

    protected override void OnInitialized()
    {
        langContainer.InitLocalizedComponent(this);
        base.OnInitialized();
    }

}